<%= turbo_frame_tag tweet do %>

  <%= form_with(model: tweet) do |form| %>
    <div class="tweet-container edit">
      <%= form.text_area :content %>
      <% if tweet.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

          <ul>
            <% tweet.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="tweet-actions">
        <%= link_to "キャンセル", tweet, class: "cancel-button" %>
        <%= form.submit class: "submit-button" %>
      </div>
    </div>

  <% end %>
<% end %>
