<% content_for :title, "Home" %>

<% unless user_signed_in? %>
<div class="container text-center my-5">
    <header class="mb-4">
        <h1 class="display-4">Welcome to Mini Blog</h1>
        <p class="lead">A simple way to share your thoughts with the world.</p>
    </header>

    <div>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg mx-2" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary btn-lg mx-2" %>
    </div>
</div>
<% end %>

<% if user_signed_in? %>
<%###### 新規投稿 ######%>
  <button type="button"
          class="btn btn-success btn-lg position-fixed bottom-0 end-0 m-4"
          data-bs-toggle="modal"
          data-bs-target="#tweetModal">
    <%= icon('fa-solid', 'plus', class:"fa-1x") %>
  </button>

  <%= render 'tweet_modal' %>
<% end %>


<div class="container">
  <%= turbo_frame_tag :tweets_container do %>
    <%###### ツイート一のフィルタリング ######%>
    <% if user_signed_in? %>
    <div class="btn-group mb-4">
      <%= link_to '全てのツイート',
                  tweets_path(filter: 'all'),
                  class: "btn btn-outline-primary #{'active' if @filter == 'all'}",
                  data: { turbo_frame: 'tweets_container' } %>
      <%= link_to 'フォロー中',
                  tweets_path(filter: 'following'),
                  class: "btn btn-outline-primary #{'active' if @filter == 'following'}",
                  data: { turbo_frame: 'tweets_container' } %>
    </div>
    <% end %>

    <%###### ツイート一覧 ######%>
    <div class="tweets row">
      <%= turbo_frame_tag "tweets-page-#{@tweets.current_page}" do %>
        <%= render @tweets %>

        <%= turbo_frame_tag "tweets-page-#{@tweets.next_page}", loading: :lazy, src: path_to_next_page(@tweets), class: "lazy-load", style: "padding: 1px;" %>
      <% end %>
    </div>
  <% end %>
</div>
