<div class="container">
  <%= render partial: "shared/error_messages", locals: { object: @user } %>

  <h1 class="mb-4">プロフィールの編集</h1>

  <%= form_with(model: @user) do |f| %>
    <div class="mb-3">
      <%= f.label :profile_message, class: "form-label" %>
      <%= f.text_area :profile_message, class: "form-control", rows: 5 %>
    </div>

    <div class="mb-4">
      <h2 class="h5 mb-3">SNSリンク</h2>

      <%= f.fields_for :user_blogs do |ff| %>
        <div class="row g-2 mb-3">
          <div class="col-md-2">
            <%= ff.select :kind, options_for_select([nil] + UserBlog::KINDS, ff.object.kind), {}, { class: "form-select" } %>
          </div>

          <div class="col-md-10">
            <%= ff.text_field :url, class: "form-control", placeholder: "URLを入力" %>
          </div>
        </div>
      <% end %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
