<nav class="navbar">
  <h1 class="navbar-title">Mini Blog</h1>
  <ul class="navbar-list">
    <li class="navbar-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "Users", users_path %>
    </li>

    <% if user_signed_in? %>
      <li class="navbar-item">
        <%# username which is adropdown which includes signout and setting link %>
        <div class="dropdown">
          <button class="dropbtn"><%= current_user.username %></button>
          <div class="dropdown-content">
            <%= link_to "Profile", current_user %>
            <%= link_to "Setting", edit_user_registration_path %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
          </div>
        </div>
      </li>
    <% else %>
      <li class="navbar-item">
        <%= link_to "Sign In", new_user_session_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>
